.profile {
width: 500px;
display: flex;
flex-direction: column;
border: 1px solid var(--border-color);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
margin: 60px 100px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.avatar {
    border-radius: 50%;
}

.name {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 24px;
    text-align: center;
}

.tag {
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 20px;
}

.location {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-text-color);
}

.stats {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    border-top: 1px solid var(--light-border-color);
}

.stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 24px) / 3);
    padding: 30px 6px;
}

.stats li:not(:last-child) {
    border-right: 1px solid var(--light-border-color);
}

.label {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.quantity {
    font-size: 24px;
    font-weight: 700;
}